<!-- -->
<launch>

  <arg name="environment_description_yaml_file" default="$(find ars_config)/config/environment/obstacles_env_00.yaml"/>

  <group ns="simulator">

    <group ns="sim_environment">

      <node name="ars_sim_environment_node" pkg="ars_sim_environment" type="ars_sim_environment_ros_node.py" output="screen" >
   
        <remap from="obstacles_static" to="/simulator/sim_environment/obstacles_static"/>
        <remap from="obstacles_dynamic" to="/simulator/sim_environment/obstacles_dynamic"/>

        <param name="environment_description_yaml_file" value="$(arg environment_description_yaml_file)" />
    
      </node>
      
    </group>

  </group>

</launch>
