<!-- -->
<launch>

  <group ns="simulator">

    <group ns="sim_obstacles_detector">

      <node name="ars_sim_obstacles_detector_node" pkg="ars_sim_obstacles_detector" type="ars_sim_obstacles_detector_ros_node.py" output="screen" >
   
        <remap from="robot_pose" to="/robot_sim/robot_pose"/> 

        <remap from="obstacles_static" to="/obstacles_static"/>
        <remap from="obstacles_dynamic" to="/obstacles_dynamic"/>

        <remap from="obstacles_detected" to="/obstacles_detected"/>
        <remap from="obstacles_detected_robot" to="/obstacles_detected_robot"/>
    
      </node>
     
    </group>

  </group>

</launch>
