<!-- -->
<launch>

  <group ns="simulator">

    <group ns="sim_sensors_robot">

      <node pkg="ars_sim_sensor_pos_robot" type="ars_sim_sensor_pos_robot_ros_node.py" name="ars_sim_sensor_pos_robot_node" output="screen">

        <remap from="robot_pose" to="/robot_sim/robot_pose"/>

        <remap from="meas_robot_pose" to="/meas_robot_pose"/>
        <remap from="meas_robot_pose_cov" to="/meas_robot_pose_cov"/>

      </node>


      <node pkg="ars_sim_sensor_vel_robot" type="ars_sim_sensor_vel_robot_ros_node.py" name="ars_sim_sensor_vel_robot_node" output="screen">

        <remap from="robot_velocity" to="/robot_sim/robot_velocity_robot"/>

        <remap from="meas_robot_velocity" to="/meas_robot_velocity_robot"/>
        <remap from="meas_robot_velocity_cov" to="/meas_robot_velocity_robot_cov"/>

      </node>
      
    </group>

  </group>

</launch>
