<!-- -->
<launch>

  <arg name="robot_cmd_raw_stamped" default="/robot_cmd_raw_stamped" />
  
  <arg name="obstacles_detected" default="/obstacles_detected_robot" />
  
  <arg name="robot_cmd_avoidance_stamped" default="/robot_cmd_stamped" />

  
  <group ns="obstacle_avoidance_react">

    <node name="ars_obstacle_avoidance_react_node" pkg="ars_obstacle_avoidance_react" type="ars_obstacle_avoidance_react_ros_node.py" output="screen" >
      
      <remap from="robot_cmd_raw_stamped" to="$(arg robot_cmd_raw_stamped)"/>
   
      <remap from="obstacles_detected" to="$(arg obstacles_detected)/"/>
      
      <remap from="robot_cmd_avoidance_stamped" to="$(arg robot_cmd_avoidance_stamped)"/>

    </node>
    
  </group>

</launch>
