<!-- -->
<launch>

  <group ns="obstacle_avoidance">

    <node name="ars_obstacle_avoidance_node" pkg="ars_obstacle_avoidance" type="ars_obstacle_avoidance_ros_node.py" output="screen" >
      
      <remap from="robot_trajectory_ref" to="/robot_trajectory_ref"/>
  
      <remap from="robot_trajectory_coll_free_ref" to="/collis_free_robot_trajectory_ref"/>
  
      <remap from="robot_pose" to="/robot_sim/robot_pose"/>
      <remap from="robot_velocity_world" to="/robot_sim/robot_velocity_world"/>

      <remap from="obstacles_detected" to="/obstacles_detected"/>

    </node>
    
  </group>

</launch>
